---
import Base from "../../layout/Base.astro";
import Card from "../../components/Card.astro";

import { getOffres } from "../../backend.mjs";
import {filterByPrix} from "../../backend.mjs"
const events = await getOffres();

let Offres = [];
let message = '';
if (Astro.request.method === "POST") {
	const data = await Astro.request.formData();
	const minPrix = parseInt(data.get("minPrix"));
	const maxPrix = parseInt(data.get("maxPrix"));

	if (minPrix > 0 && maxPrix > 0 && maxPrix > minPrix) {
		Offres = await filterByPrix(minPrix, maxPrix);

		if (Offres.length === 0) {
			message = `Pas d'offres entre ${minPrix}€ et ${maxPrix}€`;
		} else {
			message = `Liste des offres entre ${minPrix}€ et ${maxPrix}€`;
		}
	} else {
		message = "Veuillez entrer des valeurs valides pour le prix.";
	}
} else {
	Offres = await getOffres();
}
---
<Base titre="Offres">
	<h1 class="text-4xl mb-4">Offres</h1>
	<p class="mb-6">Ceci est la page des offres. Vous trouverez sur cette page différentes offres</p>
	<div x-data="{ showFavorites: false }">
		<button @click="showFavorites = !showFavorites" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded">
			<span x-show="!showFavorites">Afficher les favoris</span>
			<span x-show="showFavorites">Afficher tout</span>
		</button>
		<form action="/offres" method="POST">
			<input type="number" name="minPrix" placeholder="Prix minimum" />
			<input type="number" name="maxPrix" placeholder="Prix maximum" />
			<input type="submit" value="Filtrer par prix" />
		</form>
	
		<div x-show="!showFavorites" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{events.map((offre) => <Card {...offre} />)}
		</div>
		<div x-show="showFavorites" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
			{events.map((offre) => offre.favori && <Card {...offre} />)}
		</div>
	</div>

	<div x-data="{ bool: false }">
        <button @click="bool = !bool" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded">
            <span x-show="!bool">Afficher en grille</span>
        </button>
        <button @click="bool = !bool" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded">
            <span x-show="!bool">Afficher en liste</span>
        </button>

        <div x-show="!bool && view ==='grid'">
            {events.map((offre) => <Card {...offre} />)}
        </div>
        
        <div x-show="bool && view ==='list'">
            {events.map((offre) => <Card {...offre} />)}
        </div>
    </div>
	<a href="/offres/add" class="mb-4 px-4 py-2 bg-blue-500 text-white rounded">Ajouter une offre</a>
</Base>