---
import { bySurface } from "../../../backend.mjs";
import Base from '../../../layout/Base.astro';


const { surface } = Astro.params;
export const prerender = false;
const maisons = await bySurface(Number(surface));
---

<Base titre={`Surface: ${surface} m²`}>
    <ul>
        {maisons.map((offre) => (
            <li id={offre.id}>
                <a href={`/offres/surface/${offre.id}`}>{offre.nomMaison}</a> - {offre.surface} m²
            </li>
        ))}
    </ul>
</Base>